body{
  background-color: lightblue;
}
.square{
  background-color: antiquewhite;
    border: 1px solid black;
  
   width:200px;
  height:200px;
border-radius: 50%;
  position: relative;
  top:200px;
 margin:auto;
  
}